
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #999;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}

a {
    color: #ddd;
    text-decoration: none;
}

body {
    display: -webkit-flex;
    display: -ms-flexbox;
}

body, html {
    font-weight: 400;
    margin: 0
}

* {
    box-sizing: border-box;
    outline: none;
}

body, html {
    padding: 0;
    height: 100%;
    width: 100%;
    -moz-osx-font-smoothing: grayscale
}

.hidden {
    display: none !important;
}

button::-moz-focus-inner {
    border: 0
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url(/third_party/Roboto/Roboto-100.woff2) format("woff2"), url(/third_party/Roboto/Roboto-100.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(/third_party/Roboto/Roboto-300.woff2) format("woff2"), url(/third_party/Roboto/Roboto-300.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(/third_party/Roboto/Roboto-400.woff2) format("woff2"), url(/third_party/Roboto/Roboto-400.woff) format("woff")
}


/*PAGE TRANSITION STYLE*/

.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    z-index: 100;
}

.pt-page-1 {
    background: #0ac2d2;
}

.pt-page-2 {
    background: #7bb7fa;
}

.pt-page-3 {
    background: #60d7a9;
}

/*END PAGE TRANSITION STYLE*/

.main {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-height: 644px) and (min-width: 700px) {
    .main {
        max-width: 700px;
        /*  max-height: 644px;*/
        margin: 0px auto;
    }
}

.btn {
    font-size: 24px;
    color: #FFFFFF;
    padding: 8px;
    width: 80%;
    margin: 10px 0;
    height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    border: 4px solid;
}

.btn-abs {
    position: absolute;
    bottom: 0;
}

.input-style {
    position: relative;
    font-size: 24px;
    color: #444;
    padding: 8px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 12px;
    border: 4px solid;
}

.min {
    font-size: 18px;
    padding: 5px;

}

.btn:active {
    bottom: -2px;
    transform: translateY(4px);
}

.default {
    background-color: #acedf2 !important;
    border-color: #31a7bb !important;
}

.default:active {
    background-color: #50b4bb !important;
}

.red {
    background-color: #cc0544 !important;
    border-color: #771524 !important;
}

.blue {
    background-color: #4F49B0 !important;
    border-color: #201A88 !important;
}

.green {
    background-color: #6ecc05 !important;
    border-color: #476b1b !important;
}

.green:active, green:hover {
    background-color: #099C09 !important;
}

.red:active, .red:hover {
    background-color: #E4243A !important;
}

.blue:active, .blue:hover {
    background-color: #362DA5 !important;
}

/*DIALOG STYLE*/

.w-50 {
    text-align: center;
    float: left;
    width: 50%;
}

.dialog-container, .dialog-container-purchase {
    background: rgba(0, 0, 0, 0.57);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.dialog-container--visible, .dialog-container-purchase--visible {
    opacity: 1;
    pointer-events: auto;
}

.dialog {
    background: #fffaef;
    border: 5px solid #fbc44e;
    border-radius: 12px;
    min-width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateY(30px);
    transform: translate(-50%, -50%) translateY(30px);
    -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
}

.dialog > div {
    padding-left: 24px;
    padding-right: 24px;
}

.dialog-title {
    color: black;
    padding-top: 20px;
    font-size: 1.25em;
}

.dialog-body {
    padding-top: 20px;
    padding-bottom: 24px;
}

.dialog-body select {
    width: 100%;
    font-size: 2em;
}

.dialog-body span {
    color: black;
    text-align: center;
    display: block;

}

.dialog-buttons {
    height: 53px;
}

#selectBeaconToAdd {
    background-color: #fffaef;
    border: 1px solid #fffaef !important;
}

/*END DIALOG STYLE*/




/*STORE STYLE*/
.roomItem {
    border-bottom: 1px solid gray;
    clear: both;
    color: #999;
}

.roomItem span {
    clear: both;
    display: block;
    padding: 10px;
}

.roomItem label {
    font-style: oblique;
    font-weight: bold;
}

.roomItem span:first-child {
    color: #000;
    font-size: 20px;
    font-weight: bold;

}

#roomsList {
    overflow: auto;
    cursor: default;
    background-color: white;
    width: 100%;
    max-height: 600px;
    text-align: center;
    color: black;
}

::-webkit-scrollbar {
    height: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.33);
}

.list {
    overflow: auto;
    cursor: pointer;
    width: 100%;
    max-height: 600px;
    text-align: center;
    color: black;
}

.charItem {
    background: #eee;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 20px;
}

.charItem > .item {
    width: 170px;
    display: inline-block;
}

.item a {
    padding: 10px;
    color: black;
    width: 100%;
    display: inline-block;
}

.unpurchased {
    opacity: 0.2;
}

.item a:active, item a:hover {
    background-color: #dadada;
}

em {
    display: inline-block;
    width: 50px;
    background-size: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.shirt {
    background-image: url(../res/casual-t-shirt-.svg);
}

.goBack {
    background-image: url(../res/go-back.svg);
}

.faceImg {
    background-image: url(../res/face.svg);
}

.nose1Img {
    background-image: url(../res/naso1.svg);
}

.nose1WImg {
    background-image: url(../res/naso1W.svg);
}

.nose2Img {
    background-image: url(../res/naso2.svg);
}

.nose3Img {
    background-image: url(../res/naso3.svg);
}

.hair1Img {
    background-image: url(../res/capelli1.svg);
}

.hair2Img {
    background-image: url(../res/capelli2.svg);
}

.hair3Img {
    background-image: url(../res/capelli3.svg);
}

.hair4Img {
    background-image: url(../res/capelli4.svg);
}

.hair5Img {
    background-image: url(../res/capelli5.svg);
}

.hair1WImg {
    background-image: url(../res/capelli1W.svg);
}

.hair2WImg {
    background-image: url(../res/capelli2W.svg);
}

.hair3WImg {
    background-image: url(../res/capelli3W.svg);
}

.hair4WImg {
    background-image: url(../res/capelli4W.svg);
}

.hair5WImg {
    background-image: url(../res/capelli5W.svg);
}

.glasses1Img {
    background-image: url(../res/occhiali1.svg);
}

.glasses2Img {
    background-image: url(../res/occhiali2.svg);
}

.glasses3Img {
    background-image: url(../res/occhiali3.svg);
}

.must1Img {
    background-image: url(../res/baffi1.svg);
}

.must2Img {
    background-image: url(../res/baffi2.svg);
}

.must3Img {
    background-image: url(../res/baffi3.svg);
}

.must4Img {
    background-image: url(../res/baffi4.svg);
}

.eyesImg {
    background-image: url(../res/occhi.svg);
}

.bodyImg {
    background-image: url(../res/body.svg);
}

.pcImg {
    background-image: url(../res/pc.svg);
}

.bookImg {
    background-image: url(../res/book.svg);
}

.penImg {
    background-image: url(../res/pen.svg);
}

.fiocco1Img {
    background-image: url(../res/fiocco1.svg);
}

.fiocco2Img {
    background-image: url(../res/fiocco2.svg);
}

.or1Img {
    background-image: url(../res/orecchini1.svg);
}

.or2Img {
    background-image: url(../res/orecchini2.svg);
}

.or3Img {
    background-image: url(../res/orecchini3.svg);
}

.deleteImg {
    background-image: url(../res/delete.svg);
}

.colorIcon {
    border-radius: 50%;
    border: 4px solid black;
    background-color: white;
}

.cFace1 {
    background-color: #F6C09C;
}

.cFace2 {
    background-color: #824b46;
}

.cFace3 {
    background-color: #f6d79c;
}

.cEyes1 {
    background-color: #00858F;
}

.cEyes2 {
    background-color: #32A30D;
}

.cEyes3 {
    background-color: #222222;
}

.cHair1 {
    background-color: #002334;
}

.cHair2 {
    background-color: #FFD883;
}

.cHair3 {
    background-color: #753E23;
}

.cHair4 {
    background-color: #F57E20;
}

.cTorso1 {
    background-color: #0094BB;
}

.cTorso2 {
    background-color: #3C9941;
}

.cTorso3 {
    background-color: #991C96;
}

strong {
    margin: 10px 0;
    display: block;
}

/*END STORE STYLE*/

#menu {
    border-bottom: 3px solid #2e2b67;
    height: 58px;
    background-color: #5b58e7;
    z-index: 111;
    position: relative;
}

#menu ul {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#menu ul li {
    float: left;
    width: 33.33%;

}

#menu ul > li a {
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-width: 0 2px 0px 2px;

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #111;
}

#menu ul li a.active {
    background-color: #5b58e7 !important;
}

.m-top {
    margin-top: 58px;
}

#saveCharSVG {
    margin-top: 68px;
}

.blueMenu > li a {
    border-color: black #0d066f #100890 #837fca;
    background-color: #4F49B0 !important;
}

/*PRE INDEX STYLE*/


fieldset {
    border: 0;
}

label[for="username"], label[for="selectBeaconToAdd"],
label[for="radio1"], label[for="radio2"] {
    visibility: hidden;
}


input[type=radio] {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

.radio-label {
    padding-left: 100px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-label::before, .radio-label::after {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
}

.radio-label::before {
    visibility: visible;
    border-radius: 10px;
    left: 0;
    border: 4px solid #e6e6e6;
}

.radio-label::after {
    left: 3px;
    display: none;
    visibility: visible;
}

input[type=radio]:checked + .radio-label::before {
    background-color: #316dd2;
    border: none;
    box-shadow: none;
}

input[type=radio]:checked + .radio-label::after {
    display: block;
}

.radio-box input[type=text],
.radio-box .input-wrapper {
    margin: 1em;
}

.radio-box {
    width: 225px;
    margin: 20px auto;
}

.radio-box .input-wrapper {
    width: 100px;
    margin: 5px;
    height: 100px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.male:before, male:after {
    background: url("../res/male.svg") no-repeat center center;
    background-size: 80%;
}

.female:before, .female:after {
    background: url("../res/female.svg") no-repeat center center;
    background-size: 80%;
}

/*END PRE INDEX STYLE*/


.width100 {
    width: 100%;
}

#ScoreBox {
    width: 100%;
}

#ScoreBox label {
    padding: 10px;
    font-size: 24px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

#ScoreBox span {
    text-align: center;
    display: block;
    margin: 20px 0 10px 0;
    font-weight: bold;
    font-size: 20px;

}

#ScoreBox label:first-child {
    margin-top: 24px;
}

#score {
    background-color: #fff34c;
    color: black;
    border-style: solid;
    border-width: 4px 0 4px 0;
    border-color: #efdf0a;
}

#preIndex.pt-page-current {
    z-index: 200;
}

#char {
    margin-bottom: 80px;
}